@import "tailwindcss";
@import "../node_modules/simple-table-core/dist/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.simple-table-root {
  /* Already defined in the package, but reinforcing proper scoping */
  /* This ensures styles don't leak out and cause conflicts with Tailwind */
}
html {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

body {
}

#root {
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(100, 116, 139, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(100, 116, 139, 0.05) 1px, transparent 1px);
}
